.camera-page {
    background-color: white;
    min-height: 100vh;
    position: relative;
    padding: 40px 20px 80px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .app-name {
    font-size: 20px;
    font-weight: 600;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
.instruction-text {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: #557B33;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #284529;
  }

  @supports (-webkit-touch-callout: none) {
    .camera-page {
      height: -webkit-fill-available;
    }
    
    button {
      bottom: max(40px, env(safe-area-inset-bottom));
    }
  }
  