.signup-page {
    background-color: white;
    min-height: 100vh;
    position: relative;
    padding: 40px 20px 80px;
    gap: 10px;
    
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .app-name {
    font-size: 20px;
    font-weight: 600;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  
  h1, h2 {
    color: #3A2F21;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: white;
    border-style: solid;
    border-color: #446622;
  }
  
  .submit-button {
    background-color: #708238;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 48px;
  }
  
  .login-link {
    margin-top: 10px;
  }
  