.signup-page {
    padding: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1, h2 {
    color: #3A2F21;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: white;
    border-style: solid;
    border-color: #446622;
  }
  
  .submit-button {
    background-color: #708238;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 48px;
  }
  
  .login-link {
    margin-top: 10px;
  }
  