.element-login {
    background-color: #fefbf6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element-login .div-2 {
    background-color: #fefbf6;
    height: 869.14px;
    overflow: hidden;
    position: relative;
    width: 401px;
  }
  
  .element-login .status-bar-instance {
    height: 42px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 401px !important;
  }
  
  .element-login .design-component-instance-node {
    height: 42px !important;
  }
  
  .element-login .status-bar-2 {
    left: 343px !important;
    top: 20px !important;
    width: 23px !important;
  }
  
  .element-login .status-bar-3 {
    border: 0.93px solid !important;
    border-radius: 2.49px !important;
    width: 21px !important;
  }
  
  .element-login .status-bar-4 {
    border-radius: 1.24px !important;
    width: 17px !important;
  }
  
  .element-login .status-bar-5 {
    left: 21px !important;
    top: 3px !important;
  }
  
  .element-login .status-bar-6 {
    height: 10px !important;
    left: 324px !important;
    top: 20px !important;
    width: 14px !important;
  }
  
  .element-login .status-bar-7 {
    height: 10px !important;
    left: 303px !important;
    top: 20px !important;
    width: 16px !important;
  }
  
  .element-login .status-bar-8 {
    height: 20px !important;
    left: 37px !important;
    top: 10px !important;
    width: 50px !important;
  }
  
  .element-login .status-bar-9 {
    font-size: 14px !important;
    letter-spacing: -0.28px !important;
    width: 50px !important;
  }
  
  .element-login .overlap {
    height: 777px;
    left: 0;
    position: absolute;
    top: 92px;
    width: 401px;
  }
  
  .element-login .nav-bar {
    box-shadow: 0px -3.73px 7.46px #00000040;
    height: 81px;
    left: 0;
    position: absolute;
    top: 696px;
    width: 401px;
  }
  
  .element-login .indicator {
    background-color: #0000004c;
    border-radius: 2.33px;
    height: 5px;
    left: 129px;
    position: relative;
    top: 68px;
    width: 144px;
  }
  
  .element-login .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 710px;
    justify-content: space-between;
    left: 13px;
    padding: 0px 24px 16px;
    position: absolute;
    top: 0;
    width: 375px;
  }
  
  .element-login .field {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    position: relative;
  }
  
  .element-login .headline {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    position: relative;
  }
  
  .element-login .text-wrapper {
    color: #3a2f21;
    font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.28px;
    line-height: 29.9px;
    margin-top: -1.00px;
    position: relative;
    width: 88.59px;
  }
  
  .element-login .text {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    position: relative;
  }
  
  .element-login .text-wrapper-2 {
    color: var(--mode-black);
    font-family: var(--heading-h1-font-family);
    font-size: var(--heading-h1-font-size);
    font-style: var(--heading-h1-font-style);
    font-weight: var(--heading-h1-font-weight);
    letter-spacing: var(--heading-h1-letter-spacing);
    line-height: var(--heading-h1-line-height);
    margin-top: -1.00px;
    position: relative;
    width: 327px;
  }
  
  .element-login .div-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .element-login .div-4 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .element-login .input-field {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
    width: 100%;
  }
  
  .element-login .title {
    align-items: center;
    border-radius: 100px;
    display: inline-flex;
    gap: 10px;
    height: 21px;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .element-login .text-wrapper-3 {
    color: var(--mode-grey);
    font-family: var(--medium-type-12-font-family);
    font-size: var(--medium-type-12-font-size);
    font-style: var(--medium-type-12-font-style);
    font-weight: var(--medium-type-12-font-weight);
    letter-spacing: var(--medium-type-12-letter-spacing);
    line-height: var(--medium-type-12-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .element-login .input-area {
    align-items: center;
    align-self: stretch;
    background-color: var(--primary-0);
    border: 1px solid;
    border-color: var(--mode-stroke);
    border-radius: 10px;
    box-shadow: 0px 1px 2px #e4e5e73d;
    display: flex;
    gap: 10px;
    height: 46px;
    overflow: hidden;
    padding: 27px 14px;
    position: relative;
    width: 100%;
    z-index: 0;
  }
  
  .element-login .frame {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 12px;
    margin-bottom: -14.50px;
    margin-top: -14.50px;
    position: relative;
  }
  
  .element-login .yourname-gmail-com {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--secondary-500);
    display: -webkit-box;
    font-family: var(--body-small-medium-font-family);
    font-size: var(--body-small-medium-font-size);
    font-style: var(--body-small-medium-font-style);
    font-weight: var(--body-small-medium-font-weight);
    height: 21px;
    letter-spacing: var(--body-small-medium-letter-spacing);
    line-height: var(--body-small-medium-line-height);
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 207px;
  }
  
  .element-login .eye-off {
    height: 16px !important;
    margin-bottom: -12.00px !important;
    margin-top: -12.00px !important;
    position: relative !important;
    width: 16px !important;
  }
  
  .element-login .text-wrapper-4 {
    align-self: stretch;
    color: #3e2c1c;
    font-family: "Inter", Helvetica;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    line-height: 16.8px;
    position: relative;
    text-align: right;
  }
  
  .element-login .button {
    align-self: stretch;
    height: 52px;
    margin-left: -2.00px;
    margin-right: -2.00px;
    margin-top: -1.00px;
    position: relative;
    width: 100%;
  }
  
  .element-login .or {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .element-login .line {
    flex: 1;
    flex-grow: 1;
    height: 1px;
    object-fit: cover;
    position: relative;
  }
  
  .element-login .text-wrapper-5 {
    color: var(--mode-grey);
    font-family: var(--body-xsmall-regular-font-family);
    font-size: var(--body-xsmall-regular-font-size);
    font-style: var(--body-xsmall-regular-font-style);
    font-weight: var(--body-xsmall-regular-font-weight);
    letter-spacing: var(--body-xsmall-regular-letter-spacing);
    line-height: var(--body-xsmall-regular-line-height);
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .element-login .button-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 100%;
  }
  
  .element-login .another-step-login-instance {
    align-self: stretch !important;
    width: 100% !important;
  }
  
  .element-login .img {
    height: 52px;
    margin-bottom: -3.00px;
    position: relative;
    width: 147px;
  }
  